<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>invent</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.ico"/>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/custom-fonts.css"/>
  <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/fontawesome-5.8.1/css/all.css"/>
  <link rel="stylesheet" href="/css/jquery.dataTables.min.css"> 
  <script type="text/javascript" src="/js/jquery-3.4.0.min.js" ></script>
  <script type="text/javascript"  src="/js/jquery.dataTables.min.js"></script> 
  <script type="text/javascript"  src="/js/bootstrap-table.min.js"></script> 
 <script type="text/javascript"  src="/js/datatable.js"></script> 
  <script type="text/javascript"  src="/js/vue.js"></script>
  <script type="text/javascript"  src="/js/axios.min.js"></script>
  <script type="text/javascript"  src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript"  src="/js/invent-scripts.js"></script>
	<script type="text/javascript"  src="/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"  src="/js/axios.min.js"></script>
  <script type="text/javascript"  src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript"  src="/js/invent-scripts.js"></script>
	<script type="text/javascript"  src="/js/jquery.dataTables.min.js"></script>
  	
  	<style>

</style>
</head>
<body>
			 <div id="navbar-wrapper">
			        <header>
			            <nav class="navbar navbar-default navbar-fixed-top " id="nav-bg" role="navigation">
			                <div class="container-fluid">
			                    <div class="navbar-header">
			                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			                            <span class="sr-only">Toggle navigation</span>
			                            <span class="icon-bar"></span>
			                            <span class="icon-bar"></span>
			                            <span class="icon-bar"></span>
			                        </button>
			                        <a class="navbar-brand" id="logo" href="/home">Invent</a>
			                    </div>
			                    <div id="navbar-collapse" class="collapse navbar-collapse">
			                        <ul class="nav navbar-nav navbar-right">
			               
			                            <li class="dropdown">
			                                <a id="user-profile" href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/images/user.png" class="img-responsive img-thumbnail img-circle"> Username</a>
			                                <ul class="dropdown-menu dropdown-block" role="menu">
			                                    <li><a href="#">Profile</a></li>
			                                    <li><a href="#">Logout</a></li>
			                                </ul>
			                            </li>
			                        </ul>
			                    </div>
			                </div>
			            </nav>
			        </header>
			    </div>
			    <div id="wrapper">
			        <div id="sidebar-wrapper">
			            <aside id="sidebar">
			                <ul id="sidemenu" class="sidebar-nav">
				                <li id="sidebar-section-title">
				                        <a>
				                            <span class="sidebar-title">Main Navigation</span>
				                        </a>
				                </li>
			                    <li id="menu-item">
			                        <a href="/home">
			                            <span class="sidebar-icon"><i class="fas fa-tachometer-alt"></i></span>
			                            <span class="sidebar-title">DashBoard</span>
			                        </a>
			                    </li>
			                    <li id="menu-item">
			                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-1">
			                            <span class="sidebar-icon"><i class="fa fa-users"></i></span>
			                            <span class="sidebar-title">People</span>
			                            <b class="caret"></b>
			                        </a>
			                        <ul id="submenu-1" class="panel-collapse collapse panel-switch" role="menu">
			                            <li id="menu-sub-items"><a href="/manage-users"><i class="fa fa-caret-right"></i>Users</a></li>
			                            <li id="menu-sub-items"><a href="/manage-vendors"><i class="fa fa-caret-right"></i>Vendors</a></li>
			                        </ul>
			                    </li>
			                    <li id="menu-item">
			                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
			                            <span class="sidebar-icon"><i class="fas fa-tools"></i></span>
			                            <span class="sidebar-title">General Settings</span>
			                            <b class="caret"></b>
			                        </a>
			                        <ul id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
			                            <li id="menu-sub-items"><a href="/company"><i class="fa fa-caret-right"></i>Company Info</a></li>
			                        </ul>
			                    </li>
			                    <li id="menu-item">
			                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
			                            <span class="sidebar-icon"><i class="fab fa-product-hunt"></i></span>
			                            <span class="sidebar-title">Products</span>
			                            <b class="caret"></b>
			                        </a>
			                        <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
			                            <li id="menu-sub-items"><a href="/add-product"><i class="fa fa-caret-right"></i>Add / Update Product</a></li>
			                            <li id="menu-sub-items"><a href="/manage-products"><i class="fa fa-caret-right"></i>Manage Products</a></li>
			                        </ul>
			                    </li>
			                     <li id="menu-item">
			                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-4">
			                            <span class="sidebar-icon"><i class="fas fa-coins"></i></span>
			                            <span class="sidebar-title">Sales</span>
			                            <b class="caret"></b>
			                        </a>
			                        <ul id="submenu-4" class="panel-collapse collapse panel-switch" role="menu">
			                            <li id="menu-sub-items"><a href="/sales"><i class="fa fa-caret-right"></i>New Sale</a></li>
			                            
			                        </ul>
			                    </li>
			                     <li id="menu-item">
			                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-5">
			                            <span class="sidebar-icon"><i class="fas fa-file-invoice-dollar"></i></span>
			                            <span class="sidebar-title">Invoices</span>
			                            <b class="caret"></b>
			                        </a>
			                        <ul id="submenu-5" class="panel-collapse collapse panel-switch" role="menu">
			                            <li id="menu-sub-items"><a href="/create-invoice"><i class="fa fa-caret-right"></i>Generate Invoice</a></li>
			                            <li id="menu-sub-items"><a href="/manage-invoices"><i class="fa fa-caret-right"></i>Invoice Management</a></li>
			                        </ul>
			                    </li>
			                    <li id="menu-item">
			                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-7">
			                            <span class="sidebar-icon"><i class="fas fa-cubes"></i></span>
			                            <span class="sidebar-title">Stock</span>
			                            <b class="caret"></b>
			                        </a>
			                        <ul id="submenu-7" class="panel-collapse collapse panel-switch" role="menu">
			                            <li id="menu-sub-items"><a href="/add-stock"><i class="fa fa-caret-right"></i>Add / Update Stock</a></li>
			                            <li id="menu-sub-items"><a href="/manage-stock"><i class="fa fa-caret-right"></i>Manage Stock</a></li>			                        </ul>
			                    </li>			                  
			                     <li id="menu-item">
			                        <a href="/reports">
			                            <span class="sidebar-icon"><i class="far fa-chart-bar"></i></span>
			                            <span class="sidebar-title">Reports</span>
			                        </a>
			                    </li>
			                </ul>
			            </aside>            
			    </div>
		<div id="content-wrapper">
							<div class="breadcrumb-section">
								<a href="/home" class="inactive" >Home</a>
								<a href="/companyinfo" class="active">Company Details</a>
							</div>
				        	<div id="company-data">
										      <ul v-for="data in companyData">
										      		<li>Company Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>{{data.companyName}}</a></li>
										      		<li>Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>{{data.address}}</a></li>
										      		<li>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>{{data.email}}</a></li>
										      		<li>Tel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>{{data.tel}}</a></li>
										      </ul> 
					      <button type="button"
					      			 class="btn btn-info " 
					      		     data-toggle="modal" 
					      		     data-target="#myModal">
					      		     <i class="fas fa-edit"></i>&nbsp;Update Details
					      </button>
					      
					      </div>
						<!-- Update Modal -->
						<div id="myModal" class="modal fade" role="dialog">
						  <div class="modal-dialog ">
						
						    <!-- Modal content-->
						    <div class="modal-content">
								      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal">&times;</button>
									        <h4 class="modal-title">Company Details</h4>
								      </div>
						      <div class="modal-body">
						        <form>
										    <div class="form-group row">
											      <div class="col-xs-9">
											        <span class="field-name">Company Name:</span>
											        		<input class="form-control" id="companyName" v-model="companyName">
											      </div>
										    </div>
										    <div class="form-group row">
											      <div class="col-xs-9">
											        <span class="field-name">Address:</span>
											        		<input class="form-control" id="address" v-model="address">
											      </div>
										    </div>
										    <div class="form-group row">
											      <div class="col-xs-9">
											        <span class="field-name">Email:</span>
											        		<input class="form-control" id="email" type="email" v-model="email">
											      </div>
										    </div>
										    <div class="form-group row">
											      <div class="col-xs-9">
											        <span class="field-name">Tel:</span>
											        		<input class="form-control" id="tel" type="tel" v-model="tel">
											      </div>
										    </div>
										     <div class="form-group row">
													    <button type="button" 
													    		class="btn btn-success" 
													    		v-on:click="saveDetails">
													    		<i class="fas fa-save"></i>&nbsp;Save Details
													    </button>
										    </div>
		  						</form>
						      </div>
						      <div class="modal-footer">
						        				<button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
						      </div>
						    </div>
						
						  </div>
						</div>
     			 </div>
			        <div id="footer">
			        			<p>Copyright &copy;2019&nbsp;|&nbsp;All Rights Reserved</p>
			        </div>
			    </div> 
    <script type="text/javascript">
new Vue({
    el: '#content-wrapper',
    data: function () {
      return {
        companyData: {},
        id:1,
        companyName:'',
        address:'',
        email:'',
        tel:''
      }
      
    },
    mounted: function () {
      this.fetchCompanyDetails();
    },
    methods: {
    	fetchCompanyDetails: function () {
    	      axios.get('/api/company-profile').then(function (response) {
    	        this.companyData = response.data
    	      }.bind(this)).catch(function (error) {
    	        console.log('Error while fetching company data: ' + error)
    	      })
    	    },
    	    saveDetails:function(){
    	    	axios.post('/api/company-profile',this.updateDetails).then(function (response) {
    	    		
    	        }.bind(this)).catch(function (error) {
    	          this.data.alert = {
    	            type: 'error',
    	            message: error.response.data.message
    	          }
    	       	}),
    	       	window.location.reload();
    	       
    	       	
    	    }
    	    
   
      },
    computed:{
    	updateDetails:function(){
    		return{
    			id:this.id,
                companyName:this.companyName,
                email:this.email,
                address:this.address,
                tel:this.tel
    		}
    	}
    }
  })
</script>
  
</body>
</html>