<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>invent</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.ico"/>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/custom-fonts.css"/>
  <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/fontawesome-5.8.1/css/all.css"/> 
  <script type="text/javascript" src="/js/jquery-3.4.0.min.js" ></script> 
  <script type="text/javascript"  src="/js/vue.js"></script>
  <script type="text/javascript"  src="/js/axios.min.js"></script>
  <script type="text/javascript"  src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript"  src="/js/invent-scripts.js"></script>
    <style>
  
.fa-trash-alt,.fa-edit,.fa-eye{
	cursor:pointer;
}
.fa-eye{
	color:#5b0a4e;;
}
table {
         width: 100%; 
         border-collapse: collapse;
       }
  td {
         border: 1px solid black; 
         text-align:center;
          padding:2.5px;
     }
     th {
         background: lightblue;
         border: 1px solid black; 
         text-align:center;
         padding:4px;
     }
  td table { 
    margin: -2px;
    width: calc(100% + 4px);
  }
#userInput{
	border-radius:30px;
	background:#686d77;	
	text-align:center;
	color:white;
	padding:6px;

}
*:focus::-webkit-input-placeholder { 
	opacity: 0; 
} 
::-webkit-input-placeholder{
	color:white;
	font-family:Helvetica;
	font-size:12px;
}
  </style>
  
</head>
<body>
<div id="app">
			 <div id="navbar-wrapper">
			        <header>
			            <nav class="navbar navbar-default navbar-fixed-top " id="nav-bg" role="navigation">
			                <div class="container-fluid">
			                    <div class="navbar-header">
			                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			                            <span class="sr-only">Toggle navigation</span>
			                            <span class="icon-bar"></span>
			                            <span class="icon-bar"></span>
			                            <span class="icon-bar"></span>
			                        </button>
			                        <a class="navbar-brand" id="logo" href="/home">Invent</a>
			                    </div>
			                    <div id="navbar-collapse" class="collapse navbar-collapse">
			                        <ul class="nav navbar-nav navbar-right">
			               
			                            <li class="dropdown">
			                                <a id="user-profile" href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/images/user.png" class="img-responsive img-thumbnail img-circle"> Username</a>
			                                <ul class="dropdown-menu dropdown-block" role="menu">
			                                    <li><a href="#">Profile</a></li>
			                                    <li><a href="#">Logout</a></li>
			                                </ul>
			                            </li>
			                        </ul>
			                    </div>
			                </div>
			            </nav>
			        </header>
			    </div>
			    <div id="wrapper">
			        <div id="sidebar-wrapper">
			            <aside id="sidebar">
			                <ul id="sidemenu" class="sidebar-nav">
				                <li id="sidebar-section-title">
				                        <a>
				                            <span class="sidebar-title">Main Navigation</span>
				                        </a>
				                </li>
			                    <li id="menu-item">
			                        <a href="/home">
			                            <span class="sidebar-icon"><i class="fas fa-tachometer-alt"></i></span>
			                            <span class="sidebar-title">DashBoard</span>
			                        </a>
			                    </li>
			                    <li id="menu-item">
			                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-1">
			                            <span class="sidebar-icon"><i class="fa fa-users"></i></span>
			                            <span class="sidebar-title">People</span>
			                            <b class="caret"></b>
			                        </a>
			                        <ul id="submenu-1" class="panel-collapse collapse panel-switch" role="menu">
			                            <li id="menu-sub-items"><a href="/manage-users"><i class="fa fa-caret-right"></i>Users</a></li>
			                            <li id="menu-sub-items"><a href="/manage-vendors"><i class="fa fa-caret-right"></i>Vendors</a></li>
			                        </ul>
			                    </li>
			                    <li id="menu-item">
			                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
			                            <span class="sidebar-icon"><i class="fas fa-tools"></i></span>
			                            <span class="sidebar-title">General Settings</span>
			                            <b class="caret"></b>
			                        </a>
			                        <ul id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
			                            <li id="menu-sub-items"><a href="/company"><i class="fa fa-caret-right"></i>Company Info</a></li>
			                        </ul>
			                    </li>
			                    <li id="menu-item">
			                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
			                            <span class="sidebar-icon"><i class="fab fa-product-hunt"></i></span>
			                            <span class="sidebar-title">Products</span>
			                            <b class="caret"></b>
			                        </a>
			                        <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
			                            <li id="menu-sub-items"><a href="/add-product"><i class="fa fa-caret-right"></i>Add / Update Product</a></li>
			                            <li id="menu-sub-items"><a href="/manage-products"><i class="fa fa-caret-right"></i>Manage Products</a></li>
			                        </ul>
			                    </li>
			                     <li id="menu-item">
			                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-4">
			                            <span class="sidebar-icon"><i class="fas fa-coins"></i></span>
			                            <span class="sidebar-title">Sales</span>
			                            <b class="caret"></b>
			                        </a>
			                        <ul id="submenu-4" class="panel-collapse collapse panel-switch" role="menu">
			                            <li id="menu-sub-items"><a href="/sales"><i class="fa fa-caret-right"></i>New Sale</a></li>
			                            
			                        </ul>
			                    </li>
			                     <li id="menu-item">
			                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-5">
			                            <span class="sidebar-icon"><i class="fas fa-file-invoice-dollar"></i></span>
			                            <span class="sidebar-title">Invoices</span>
			                            <b class="caret"></b>
			                        </a>
			                        <ul id="submenu-5" class="panel-collapse collapse panel-switch" role="menu">
			                            <li id="menu-sub-items"><a href="/create-invoice"><i class="fa fa-caret-right"></i>Generate Invoice</a></li>
			                            <li id="menu-sub-items"><a href="/manage-invoices"><i class="fa fa-caret-right"></i>Invoice Management</a></li>
			                        </ul>
			                    </li>
			                    <li id="menu-item">
			                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-7">
			                            <span class="sidebar-icon"><i class="fas fa-cubes"></i></span>
			                            <span class="sidebar-title">Stock</span>
			                            <b class="caret"></b>
			                        </a>
			                        <ul id="submenu-7" class="panel-collapse collapse panel-switch" role="menu">
			                            <li id="menu-sub-items"><a href="/add-stock"><i class="fa fa-caret-right"></i>Add / Update Stock</a></li>
			                            <li id="menu-sub-items"><a href="/manage-stock"><i class="fa fa-caret-right"></i>Manage Stock</a></li>			                        </ul>
			                    </li>			                 
			                    <li id="menu-item">
			                        <a href="/reports">
			                            <span class="sidebar-icon"><i class="far fa-chart-bar"></i></span>
			                            <span class="sidebar-title">Reports</span>
			                        </a>
			                    </li>
			                </ul>
			            </aside>            
			        </div>
			        <div id="content-wrapper">
							<div class="breadcrumb-section">
								<a href="/home" class="inactive" >Home</a>
								<a href="/update-stock" class="active">Manage Stock</a>
							</div>
							<div>
										<table>
										      <tr>
										        <th style="background:#505914;color:white">Vendor</th>
										        <th style="background:#067c2d;color:white">Stock Items</th>
										      </tr>
										    
										      <tr v-for="(vendor,index) in vendors">
										        <td style="background:#c4983a;font-size:16px"><b>{{vendor.vendorName}}</b>&nbsp; 
										        	<i class="fas fa-eye" v-on:click.prevent="fetchVendorDetails(vendor,index)" href="#vendor-details-modal" data-toggle="modal"></i></td>
										        <td>
										    
										          <!-- nested row -->
										          <table>
										      <tr>
										        <th style="border-top:none;border-left:none">Item Name</th>
										        <th style="border-top:none">Quantity</th>
										        <th style="border-top:none">Date ( Last Stock-In )</th>
										        <th style="border-top:none">Action</th>
										      </tr>
										           <tr v-for="(item,index) in vendor.stockItems" style="background:#b7a171" >
										             <td style="border-left:none;border-bottom:none">{{item.stockItemName}}</td>
										             <td style="border-bottom:none;">{{item.quantity}}</td>
										             <td style="border-bottom:none">{{item.dateReceived}}</td>
										             <td  style="border-bottom:none">
													  	<a href="#editStockItemModal"
													  	v-on:click.prevent="fetchStockItem(item,index)"
								                               class="edit" data-toggle="modal"><i class="fas fa-edit" 
								                               data-toggle="tooltip" 
								                               title="Edit"></i>
							                            </a> &nbsp; &nbsp;
							                            <a href="#deleteStockItemModal" 
							                            v-on:click.prevent="fetchStockItem(item,index)"
									                           	 class="delete" data-toggle="modal"><i class="fas fa-trash-alt" 
									                           	 data-toggle="tooltip" 
									                             title="Delete"></i>
							                             </a>

							                         </td>
										           </tr>
										          </table>
										    
										        </td>
										      </tr>
										</table>
							</div>
						                  <!-- #vendorDetails Modal -->
						<div class="modal fade" id="vendor-details-modal">
						      <div class="modal-dialog">
						        <div class="modal-content">
						          <div class="modal-header">
						            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						          		<p><b>Vendor Details</b></p>
						          </div>
						                  <div class="modal-body">
											<p><b>Name:</b>{{vendorDetails.vendorName}}</p>
											<p><b>Address:</b>{{vendorDetails.address}}</p>	
											<p><b>Company:</b>{{vendorDetails.vendorCompany}}</p>
											<p><b>Phone:</b>{{vendorDetails.phone}}</p>
					                    </div>


						          
						        </div><!-- /.modal-content -->

						      </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->

				  <!-- Edit Stock Item Modal H -->
				  
					  <div id="editStockItemModal" class="modal fade">
					    <div class="modal-dialog">
					      <div class="modal-content">	    
					        <form>
					          <div class="modal-header">            
					            <h4 class="modal-title">Edit StockItem</h4>
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					          </div>
					          <div class="modal-body">          
					            <div class="form-group">
					              <label>Stock Item Name</label>
					              <input type="text" class="form-control" v-model="rowData.stockItemName" required>
					            </div>
					            <div class="form-group">
					              <label>Quantity</label>
					              <input type="number" class="form-control" v-model="rowData.quantity"  required>
					            </div>
					            <div class="form-group">
					              <label>Date</label>
					              <input type="date" class="form-control" v-model="rowData.dateReceived" >
					            </div>          
					          </div>
					          <div class="modal-footer">
									<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
	            					<input type="submit" class="btn btn-info" v-on:click.prevent="updateStockItem(rowData,stockItemName,quantity,dateReceived,id)"  data-dismiss="modal" value="Save">
					          </div>
					        </form>
					      </div>
					    </div>
					  </div>
					  
				  <!-- Delete Modal HTML -->
				  
				  <div id="deleteStockItemModal" class="modal fade">
				    <div class="modal-dialog">
				      <div class="modal-content">
				        <form>
				          <div class="modal-header">            
				            <h4 class="modal-title">Delete Stock Item</h4>
				            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				          </div>
				          <div class="modal-body">          
				            <p>Are you sure you want to delete {{rowData.stockItemName}}?</p>
				            <p class="text-warning"><small>This action cannot be undone.</small></p>
				          </div>
				          <div class="modal-footer">
				            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
				            <button  class="btn btn-danger" v-on:click.prevent="deleteStockItem(rowData,id)" data-dismiss="modal">Delete</button>
				          </div>
				        </form>
				      </div>
				    </div>
				  </div>
			        </div>
			        <div id="footer">
			        <p>Copyright &copy;2019&nbsp;|&nbsp;All Rights Reserved</p>
			        </div>
			    </div> 
    </div>
<script type="text/javascript">
  var app=new Vue({
	    el: '#content-wrapper',
	    data: function () {
	      return {
	        vendors: Array,
	        rowData:{},
	        vendorDetails:{},
	        id:'',
	        vendorName:'',
	        vendorCompany:'',
	        address:'',
	        phone:'',
	        stockItemName:'',
	        quantity:'',
	        dateReceived:''
	      }
	      
	    },
	    created: function () {
	      this.fetchVendors();
	    // this.fetchStockItem();
	    },
	    methods: {
	    	fetchVendors: function () {
	    	      axios.get('/api/vendors/').then(function (response) {
	    	        this.vendors = response.data
	    	      }.bind(this)).catch(function (error) {
	    	        console.log('Error while fetching vendor data: ' + error)
	    	      })
	    	    },
    		fetchVendorDetails: function (vendor,id) {
	    	      axios.get('/api/vendors/'+vendor.id).then(function (response) {
	    	        this.vendorDetails = response.data
	    	      }.bind(this))
	    	      console.log(this.vendorDetails)
	    	    },
	    	fetchStockItem: function (item,id) {
	    	      axios.get('/api/stock-items/item/'+item.id).then(function (response) {
	    	        this.rowData = response.data
	    	      }.bind(this))
	    	      console.log(this.rowData)
	    	    },
	    	updateStockItem:function(rowData,stockItemName,quantity,dateReceived,id) {
	    		axios.put(`/api/stock-items/${rowData.id}/update?stockItemName=${rowData.stockItemName}&quantity=${rowData.quantity}&dateReceived=${rowData.dateReceived}`);
	    			
	    			this.fetchVendors();
	    			
	        },
		    deleteStockItem:function(rowData,id){
		    	axios.delete('/api/stock-items/'+rowData.id);
		    	
	    			this.fetchVendors();

		    }
	        
		 }
	  });
	 </script>
</body>
</html>